[core]
    filemode = true
    editor = nvim
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    df = diff
    pick = cherry-pick
    fp = format-patch
    la = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ll = log --graph --decorate --pretty=oneline --abbrev-commit
    lf = log --stat --decorate --format=fuller abbrev-commit
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    log = auto
[push]
    default = simple
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool "nvimdiff"]
    prompt = false
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c '$wincmd J'
[tig "bind"]
    generic = D !git difftool --no-prompt --trust-exit-code %(commit)^!
