.vim/*
.oh-my-zsh
.ipython/profile_*/security/*
.ipython/profile_*/pid/*
.ipython/profile_*/log/*
.ipython/profile_*/history*
.ssh/*
.tmux/resurrect/*
.tmux/plugins/*
tags

!.ssh/config
!.vim/colors
!.vim/.vimrc
