[core]
	filemode = true
	editor = vim
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	df = diff
	pick = cherry-pick
	fp = format-patch
	la = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ll = log --graph --decorate --pretty=oneline --abbrev-commit
	lf = log --stat --decorate --format=fuller abbrev-commit
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	log = auto
[push]
	default = simple
[diff]
    tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
